@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .print-color-adjust {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

body {
  background-color: #f0ede6;
}
.custom-confirm-button {
  background-color: #a57865 !important;
  color: white !important;
  border: none !important;
  padding: 8px 16px;
  border-radius: 6px;
}

.custom-spotify-button {
  display: block;
  margin: 0 auto !important; /* 버튼 가운데 정렬 */
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #a57865 !important;
  color: white;
  border: none;
  cursor: pointer;
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  word-break: keep-all;
  margin: 0;
  width: 100%;
}
