@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .print-color-adjust {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

body {
  background-color: #f0ede6;
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  word-break: keep-all;
  margin: 0;
  width: 100%;
}
